<%- include('partials/header') -%>

<div class="w-2/3 bg-white p-4 rounded-lg text-center overflow-hidden">
  <h1 class="text-4xl">Verify Email is Sent</h1>
  <h2 class="text-ml">Please check your email in 15 min.</h2>
</div>

<%- include('partials/footer') -%>